*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 63.05%;
  }
  body {
    font-family: sans-serif;
}
#wrapper{
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: whitesmoke;
}

.container{
    height: 100%;
    width: 100%;
}
#wrapper .container nav{
    padding: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 8rem;
}
#wrapper .container nav ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 8rem;
}

#wrapper .container nav .logo{
    width: 18rem;
}

#wrapper .container nav .logo:hover{
    transform: scale(1.15);
    transition: 1s;
}

ul > li{
    font-size: 1.8rem;
    opacity: 0.6;
    list-style: none;
    cursor: pointer;
}
ul > li:hover{
    transform: scale(1.05);
    transition: 0.8s;
}

ul > li:nth-child(1){
    color: #015912;
    /* border-bottom: 2px solid #015912; */
    opacity: 1;
}
.btn1{
    padding: 1.2rem 2rem;
    border: none;
    background-color: #027319;
    color: white;
    border-radius: 1rem;
    cursor: pointer;
    font-size: 1.5rem;

}

.btn1:hover{
    background-color: #034310;
    transform: scale(1.05);
    transition: 0.7s;
}

main{
    margin: 15rem 10rem;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20rem;
}

.teamShaSec{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 4rem;
}


.team-img{
    width: 57rem;
    height: 34rem;
}

.pic{
    border-radius: 20px;
    overflow: hidden;
    object-fit: cover;
}


.pic:hover{
    transform: scale(1.03);
    transition: 0.5s;
    filter: drop-shadow(0 0 10px #022a0a);
}

.heading{
    font-size: 3.5rem;
    margin-bottom: 1.5rem;
    color: #027319;
}

.para{
    font-size: 2rem;
    line-height: 2.8rem;
    width: 80%;
    opacity: 0.6;
}

.founderSec{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30rem;
}

