*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 63.05%;
  }
  body {
    font-family: sans-serif;
}
#wrapper{
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: whitesmoke;
}

.container{
    height: 100%;
    width: 100%;
}
#wrapper .container nav{
    padding: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 8rem;
}
