*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 63.05%;
  }
  body {
    font-family: sans-serif;
}
#wrapper{
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: whitesmoke;
}

.container{
    height: 100%;
    width: 100%;
}
#wrapper .container nav{
    padding: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 8rem;
}
#wrapper .container nav ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 8rem;
}

#wrapper .container nav .logo{
    width: 18rem;
}

#wrapper .container nav .logo:hover{
    transform: scale(1.15);
    transition: 1s;
}

ul > li{
    font-size: 1.8rem;
    opacity: 0.6;
    list-style: none;
    cursor: pointer;
}
ul > li:hover{
    transform: scale(1.05);
    transition: 0.8s;
}



